@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Parking.Model.ParkingZone;
@model List<ParkingZone>
<div class="container">
    @if (@TempData["Message"] != null)
    {
        @TempData["Message"]
    }


    <h2></h2>
    <div class="panel panel-primary">
        <div class="panel-heading">Zone List</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12" style="text-align:right;">
                    @Html.ActionLink("Add  New Employee", "Create", "Employee", new { }, new { @class = "btn btn-xs btn-primary" })
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-12"></div>


                <div class="col-md-12">
                    <br />
                    <table class="table table-bordered">
                        <thead style="background-image: linear-gradient(to bottom, #81a1bc47, #1a8bed03,#36393947 ">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model[0].Parking_Zone_Title)</th>
                                <th>@Html.DisplayNameFor(model => model[0].Is_Active)</th>
                                

                                <th>@Html.DisplayName("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Parking_Zone_Title</td>
                                    <td>@item.Is_Active</td>
                                   

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = @item.Id }, new { @class = "btn btn-xs btn-primary" }) |
                                        <input type="button" onclick="DelteConfirm( @item.Id )" value="Delete" class="btn btn-xs btn-danger" />

                                        @* @Html.ActionLink("Delete", "DeleteStudent", new { id = @item.Id }, new { @class = "btn btn-xs btn-danger", style = "display:none", id = "btndelete_" + @item.Id + "" })*@

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    @*<link href="~/Scripts/free-jqgrid/css/ui.jqgrid.min.css" rel="stylesheet" />*@
                </div>
            </div>
        </div>
    </div>
</div>